<app-header></app-header>

<body class="defult-home">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <!-- Intro Courses -->
    <section class="intro-section gray-bg pt-94 md-pt-64 md-pb-70">
        <div class="container">
            <div class="row clearfix">
                <!-- Content Column -->
                <div class="col-lg-12 md-mb-50">
                    <!-- Intro Info Tabs-->
                    <div class="intro-info-tabs">
                        <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="Chemistry" data-bs-toggle="tab" href="#"
                                    data-bs-target="#prod-overview" role="tab" aria-controls="prod-overview"
                                    aria-selected="true">MT (Clinical Laboratory
                                    Technology)</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="mbiology" data-bs-toggle="tab" href="#"
                                    data-bs-target="#mbio" role="tab" aria-controls="mbio" aria-selected="false">PG-DMLT</a>
                            </li>
                            <!-- <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="biotech-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#biotech" role="tab" aria-controls="biotech"
                                    aria-selected="false">M.Sc. Biotechnology</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="bioche-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#bioche" role="tab" aria-controls="bioche"
                                    aria-selected="false">M.Sc. Biochemistry</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="mscit-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#mscit" role="tab" aria-controls="mscit"
                                    aria-selected="false">M.Sc. Information
                                    Technology</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="mscphysics-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#mscphysics" role="tab" aria-controls="mscphysics"
                                    aria-selected="false">M.Sc. Physics</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="mscmath-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#mscmath" role="tab" aria-controls="mscmath"
                                    aria-selected="false">M.Sc. Mathematics</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="phd-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#phd" role="tab" aria-controls="phd"
                                    aria-selected="false">Ph.D</a>
                            </li> -->
                        </ul>
                        <div class="tab-content tabs-content" id="myTabContent">
                            <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                aria-labelledby="Chemistry">
                                <div class="content white-bg pt-30">
                                    <!-- Cource Overview -->
                                    <div class="course-overview">
                                        <div class="inner-box ">
                                            <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                <div class="col-lg-12 col-md-12 mb-30">
                                                    <div class="degree-wrap " style="overflow-x:auto;">
                                                        <h2>DEPARTMENT OF MEDICAL LABORATORY TECHNOLOGY</h2>
                                                        <table>
                                                            <tr>
                                                                <td>Name of the Department</td>
                                                                <td>Medical Laboratory Technolog</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Name of the Head</td>
                                                                <td>Dr. Hitesh V. Patel</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Year of Establishment</td>
                                                                <td>2008</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Intake</td>
                                                                <td>70</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Fees Per Semester</td>
                                                                <td>25000 Rs.</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Phone</td>
                                                                <td>02692-267404 <br>
                                                                    9974283191 (M)
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email</td>
                                                                <td>hvpatel_bc@sanppgi.ac.in
                                                                    <br>hvphitesh@rediffmail.com
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Faculty</td>
                                                                <td>07</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Courses Offered</td>
                                                                <td>M.Sc. in Medical Laboratory Technology <br>
                                                                    Diploma in Medical Laboratory Technology</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Research Facilities</td>
                                                                <td>
                                                                    <ul style="list-style-type: disc; margin-left: 9px;">
                                                                        <li>Histopathology, Semi Auto -Biochemcial
                                                                            Analyzer,</li>
                                                                        <li>Genetics Medical diagnosis</li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <!-- <tr>
                                                                <td>Major Research Activities</td>
                                                                <td>Antimicrobial screening of newly prepared metal
                                                                    chelates.</td>
                                                            </tr> -->
                                                            <tr>
                                                                <td> Major Sophisticated Equipment</td>
                                                                <td>
                                                                    <ul style="list-style-type: disc;  margin-left: 9px;">
                                                                        <li>Machine Name,</li>
                                                                        <li>Remi Centrifuge,</li>
                                                                        <li>Rotor Head,</li>
                                                                        <li>Remi Micro Centrifuge,</li>
                                                                        <li>Remi Medico Centrifuge,</li>
                                                                        <li>Angle Rotor,</li>
                                                                        <li>Remi orbital Shaking incubator,</li>
                                                                        <li>Holding with 250ml Flask,</li>
                                                                        <li>Remi Motorless,</li>
                                                                        <li>Magnetic stirrer,</li>
                                                                        <li>PSI Autoclave,</li>
                                                                        <li>PSI Waterbath,</li>
                                                                        <li>PSI Bacteriological,</li>
                                                                        <li>Incubator,</li>
                                                                        <li>PSI Laminar Vertical Air Flow,</li>
                                                                        <li>PSI Hot Air Ovan,</li>
                                                                        <li>Bonocular co-Axial,</li>
                                                                        <li>Microscope,</li>
                                                                        <li>LABOMED Microscope with camera,</li>
                                                                        <li>Spectrophotometer,</li>
                                                                        <li>Photo Florimeter,</li>
                                                                        <li>CONTECH-Balance,</li>
                                                                        <li>Blood Co-agulatin Analyzer,</li>
                                                                        <li>Distillation Unit</li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Collaboration</td>
                                                                <td>Research collaboration with Dr. Nikhil Patel,
                                                                    Jeevandeep Hospital, Sanjay Laboratory, Red cross
                                                                    Laboratory, Samvedna Biomedical Waste Incineration,
                                                                    Akanksha Hospital and Research, Anand</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tab-pane fade" id="mbio" role="tabpanel" aria-labelledby="mbiology">
                                <div class="content white-bg pt-30">
                                    <div class="course-overview">
                                        <div class="inner-box ">
                                            <div class="rs-degree style1 modify  pt-100 pb-70 md-pt-70 md-pb-40">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 mb-30">
                                                        <div class="degree-wrap" style="overflow-x:auto;">
                                                            <h2>DEPARTMENT OF MICROBIOLOGY</h2>
                                                            <table>
                                                                <tr>
                                                                    <td>Name of the Department</td>
                                                                    <td>Microbiology</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Name of the Head</td>
                                                                    <td>Dr. Gopal G. Raol</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Year of Establishment</td>
                                                                    <td>2006</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Intake</td>
                                                                    <td>140</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Fees Per Semester</td>
                                                                    <td>25000 Rs.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Phone</td>
                                                                    <td> 02692-267404 <br>
                                                                        9427178559 (M)
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Email</td>
                                                                    <td>gopalraol_mic@sanppgi.ac.in
                                                                        <br>gopal.gg@gmail.com
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Faculty</td>
                                                                    <td>12</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Courses Offered</td>
                                                                    <td>M.Sc. in Microbiology <br>
                                                                        Ph.D. in Microbiology</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Research Facilities</td>
                                                                    <td> Available</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Major Research Activities</td>
                                                                    <td>
                                                                        <ul
                                                                            style="list-style-type: disc; margin-left: 9px;">
                                                                            <li>Production and scale up of industrially
                                                                                important Enzymes and biodegradable
                                                                                polymer.</li>
                                                                            <li>Bioenergy and Biofuel.</li>
                                                                            <li>Heavy metal toxicity.</li>
                                                                            <li>Environmental cleanup.</li>
                                                                            <li>Protein profiling and Study of Microbial
                                                                                diversity using molecular tools.</li>
                                                                            <li>Drug discovery from natural sources.
                                                                            </li>
                                                                            <li>Green synthesis of nanoparticles.</li>
                                                                            <li>Biological Pigment production and its
                                                                                application.</li>
                                                                            <li>Human milk microbiome, metagenomics and
                                                                                bacteriocin.</li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> Major Sophisticated Equipment</td>
                                                                    <td>
                                                                        <ul
                                                                            style="list-style-type: disc; margin-left: 9px;">
                                                                            <li>UV visible double beam
                                                                                spectrophotometers with PC software.
                                                                            </li>
                                                                            <li>Compifuge – program supporting cooling
                                                                                centrifuge.</li>
                                                                            <li>Deep freezer enabled up to -23˚C</li>
                                                                            <li>Ultra-sensitive weigh balances from
                                                                                Denver and Mettler Toledo.</li>
                                                                            <li>Various Horizontal and vertical
                                                                                electrophoresis units Maxi prep, Electro
                                                                                transfer apparatus.</li>
                                                                            <li>Vaccum rotary evaporator.</li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Collaboration</td>
                                                                    <td>Department of Microbiology has collaboration
                                                                        with ABC Agrobiotechnology Private Ltd for
                                                                        research and analysis of Vesicular Arbuscular
                                                                        Mycorrhizae based biofertilizer.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Major Achievements</td>
                                                                    <td><b>Gold Medal 2015 - Minal Patel</b></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End intro Courses -->
 
</body>
<app-footer></app-footer>