<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs End -->
        <style>
            .rs-about.style1 .notice-bord.style1 {
                margin-top: 0px;
            }

            a {
                color: #614747;
            }

            ul {
                margin-left: 9px;
            }
        </style>
        <!-- Faq Section Start -->
        <div class="rs-faq-part rs-about style1 pt-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="title mb-40 md-mb-15">
                    <h3 class="text-part">Old Question Papers</h3>
                </div>
                <div class="row">
                    <div class="col-lg-6 padding-0">
                        <div class="main-part">

                            <!-- <ul style="list-style-type: disc;">
                                <li>ડી.એન.હાઇસ્કુલ,આણંદ દર વર્ષે વિદ્યાર્થી નામાંકિત થાય ત્યાર બાદ તેમણે શાળા તરફથી નીચે
                                    મુજબની સુવિધાઓ વિનામૂલ્યે આપવામાં આવે છે.</li>
                            </ul> -->
                            <div class="faq-content" style="margin-top: 20px;">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingOne">
                                            <button class="accordion-button card-link" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">Chemistry</button>
                                        </div>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-1 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20April%202017.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20November%202017.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20April%202017.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20October%202018.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20November%202019.pdf"
                                                            target="_blank"> 2018 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20March%202019.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-2 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20November%202017.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20April%202017.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20October%202018.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20March%202019.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20November%202019.pdf"
                                                            target="_blank"> 2019 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20December%202020.pdf"
                                                            target="_blank"> 2020 December</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20January%202021.pdf"
                                                            target="_blank"> 2021 January</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-3 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-3%20April%202018.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20October%202018.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20March%202019.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20November%202019.pdf"
                                                            target="_blank"> 2019 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20January%202021.pdf"
                                                            target="_blank"> 2021 January</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-4 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20April%202018.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20October%202018.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20March%202019.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20November%202019.pdf"
                                                            target="_blank"> 2019 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20December%202020.pdf"
                                                            target="_blank"> 2020 December</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20January%202021.pdf"
                                                            target="_blank"> 2021 January</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingTwo">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">Microbiology</button>
                                        </div>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-1 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202015%20mb1.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202016mb1.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202017mb1.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/November%202017mb1.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/October%202018mb1.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/March%202019mb1.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-2 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202015_mb2.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202016_mb2.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202017_mb2.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/November%202017_mb2.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/October%202018_mb2.pdf"
                                                            target="_blank"> 2018 October </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/March%202019_mb2.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/December%202020_mb2.pdf"
                                                            target="_blank"> 2020 December</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-3 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202015_mb3.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%2012016_mb3.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202017_mb3.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/October%202017_mb3.pdf"
                                                            target="_blank"> 2017 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/October%202018_mb3.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/October%202019_mb3.pdf"
                                                            target="_blank"> 2019 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/January%202021_mb3.pdf"
                                                            target="_blank"> 2021 January</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-4 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202015_mb4.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202016_mb4.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202017_mb4.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/November%202017_mb4.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/October%202018_mb4.pdf"
                                                            target="_blank"> 2018 October </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/March%202019_mb4.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/December%202020_mb4.pdf"
                                                            target="_blank"> 2020 December</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingThree">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">Biotechnology
                                            </button>
                                        </div>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-1 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem1%20April%202015_bt.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem1%20April%202016_bt.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem1%20April%202017_bt.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem1%20Nov%202017_bt.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem1%20April%202018_bt.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem1%20March%202019_bt.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-2 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem2%20April%202015_bt.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem2%20April%202016_bt.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem2%20Nov%202017_bt.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem2%20April%202018_bt.pdf"
                                                            target="_blank"> 2018 April </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem2%20March%202019_bt.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem2%20Dec%202020_bt.pdf"
                                                            target="_blank"> 2020 December</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-3 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem3%20April%202015_bt.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem3%20April%202017_bt.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem3%20March%202019_BT.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem3%20April%202018_BT.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem3%20March%202019_BT.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem3%20January%202021_BT.pdf"
                                                            target="_blank"> 2021 January</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-4 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem4%20April%202015_bt.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem4%20April%202016_bt.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem4%20April%202017_bt.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem4%20Nov%202017_bt.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem4%20April%202018_bt.pdf"
                                                            target="_blank"> 2018 April </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/Sem4%20March%202019_bt.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingFour">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseFour">Biochemistry
                                            </button>
                                        </div>
                                        <div id="collapseFour" class="accordion-collapse collapse"
                                            aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-1 </h3>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/November2012.pdf"
                                                        target="_blank"> 2012 November</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/April2015.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/April2016.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/April2017.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/November2017.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/April2018.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/October2018.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem1/March2019.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-2 </h3>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem2/Dec2012.pdf"
                                                            target="_blank"> 2012 December</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem2/Apr2015.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                            <li> <a href="/assets/pdf/msc.bc/qp/sem2/April2016.pdf"
                                                                target="_blank"> 2016 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem2/April2017.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                            <li> <a href="/assets/pdf/msc.bc/qp/sem2/Nov2017.pdf"
                                                                target="_blank"> 2017 November</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem2/April2018.pdf"
                                                            target="_blank"> 2018 April </a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem2/MAR2019.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                            
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-3 </h3>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/December2012.pdf"
                                                            target="_blank"> 2012 December</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/April2015.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/April2016.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/April2017.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/Nov2017.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/October2018.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/March2019.pdf"
                                                            target="_blank"> March 2019</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem3/January2021.pdf"
                                                            target="_blank"> January 2021</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-4 </h3>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem4/April2015.pdf"
                                                            target="_blank"> 2015 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem4/April2016.pdf"
                                                            target="_blank"> 2016 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem4/April2017.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem4/Nov2017.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem4/April2018.pdf"
                                                            target="_blank"> 2018 April </a></li>
                                                    <li> <a href="/assets/pdf/msc.bc/qp/sem4/March2019.pdf" 
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 padding-0">
                        <div class="main-part">
                            <div class="faq-content" style="margin-top: 20px;">
                                <div class="accordion" id="accordionExample">

                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingFive">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                aria-expanded="false" aria-controls="collapseFive">Information
                                                Technology
                                            </button>
                                        </div>
                                        <div id="collapseFive" class="accordion-collapse collapse"
                                            aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-1 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2017%20April_IT.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2017%20November_IT.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2018%20April_IT.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2018%20October_IT.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2019%20March_IT.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-2 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2019%20March_IT.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2017%20November%20IT2.pdf"
                                                            target="_blank"> 2017 November </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2018%20April%20IT2.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2018%20October%20IT2.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2019%20March%20IT2.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-3 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2017%20April_IT3.pdf"
                                                            target="_blank"> 2017 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2017%20November_IT3.pdf"
                                                            target="_blank"> 2017 November</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2018%20April_IT3.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/2018%20October_IT3.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingSix">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                aria-expanded="false" aria-controls="collapseSix">Physics
                                            </button>
                                        </div>
                                        <div id="collapseSix" class="accordion-collapse collapse"
                                            aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-1 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/April%202018_phy1.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/October%202018_phy1.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/March%202019_phy1.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-2 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/March%202019_phy2.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-3 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/March%202019_phy3.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/January%202021_phy3.pdf"
                                                            target="_blank"> 2021 January</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-4 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/March%202019_phy4.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/December%202020_phy4.pdf"
                                                            target="_blank"> 2020 December</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingSeven">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                aria-expanded="false" aria-controls="collapseSeven">Mathematics
                                            </button>
                                        </div>
                                        <div id="collapseSeven" class="accordion-collapse collapse"
                                            aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-1 </h3>
                                                    <li> <a href="http://www.cesociety.in/(S(1urjf4bsemu0vbkirzrnzccw))/sanppgi/images/news/April%202018.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/(S(3exne25p5llfyncoaqfofwun))/sanppgi/images/news/October%202018.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/(S(0fusbfmbd2f4n1dr45ymydge))/sanppgi/images/news/March%202019.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-3 </h3>
                                                    <li> <a href="http://www.cesociety.in/(S(yh0emppwisctx1d3kzgwtvrj))/sanppgi/images/news/October%202018%20sem%203.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/(S(vsb3se1cix01p1o2jddeookb))/sanppgi/images/news/March%202019%20sem%203.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                    <li> <a href="http://www.cesociety.in/(S(bfphlvbdimjbua2il05qzop5))/sanppgi/images/news/January%202021.pdf"
                                                            target="_blank"> 2021 January</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>Sem-4 </h3>
                                                    <li> <a href="http://www.cesociety.in/(S(tw1by0obm022mjpoeeco1ky0))/sanppgi/images/news/April%202018%20sem%204.pdf"
                                                            target="_blank"> 2018 April</a></li>
                                                    <li> <a href="http://www.cesociety.in/(S(ppih134bplalqnz1unhqq4mk))/sanppgi/images/news/October%202018%20sem%204.pdf"
                                                            target="_blank"> 2018 October</a></li>
                                                    <li> <a href="http://www.cesociety.in/(S(atoibnkv1bbqndlzqiq5dblw))/sanppgi/images/news/March%202019%20sem%204.pdf"
                                                            target="_blank"> 2019 March</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingEight">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                aria-expanded="false" aria-controls="collapseEight">MT(CMLT)
                                            </button>
                                        </div>
                                        <div id="collapseEight" class="accordion-collapse collapse"
                                            aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>MT(CMLT) Part-1 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/May%202017.pdf"
                                                            target="_blank"> 2017 May</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/November%202017.pdf"
                                                            target="_blank"> 2017 November </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/May%202018.pdf"
                                                            target="_blank"> 2018 May</a></li>

                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/November%202018_MT.pdf"
                                                            target="_blank"> 2018 November </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/September%202020_mt.pdf"
                                                            target="_blank"> 2020 September</a></li>
                                                </ul>
                                                <ul style="list-style-type: disc;">
                                                    <h3>MT(CMLT) Part-2 </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/May%202017_mt2.pdf"
                                                            target="_blank"> 2017 May</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/May%202018_mt2.pdf"
                                                            target="_blank"> 2018 May</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/November%202018_mt2.pdf"
                                                            target="_blank"> 2018 November </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/September%202020_mt2.pdf"
                                                            target="_blank"> 2020 September</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item card">
                                        <div class="accordion-header card-header" id="headingNine">
                                            <button class="card-link accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                                aria-expanded="false" aria-controls="collapseNine">PG- DMLT
                                            </button>
                                        </div>
                                        <div id="collapseNine" class="accordion-collapse collapse"
                                            aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                            <div class="accordion-body card-body">

                                                <ul style="list-style-type: disc;">
                                                    <h3>PG- DMLT </h3>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/May%202017_1.pdf"
                                                            target="_blank"> 2017 May</a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/May%202018_1.pdf"
                                                            target="_blank"> 2018 May</a></li>

                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/November%202018.pdf"
                                                            target="_blank"> 2018 November </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/May%202019_2.pdf"
                                                            target="_blank"> 2019 May </a></li>
                                                    <li> <a href="http://www.cesociety.in/sanppgi/images/news/September%202020.pdf"
                                                            target="_blank"> 2020 September</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- faq Section Start -->

    </div>
</body>

<app-footer></app-footer>
