<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/anpatel/about/44.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">
                        About us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> Shri Alpesh N. Patel Post Graduate Institute of Science & Research
                        <a href="assets/images/2fcertificate.pdf" target="_blank"><u>(2f Certified)</u></a>
                    </div>
                    <p class="desc mb-45">
                        is established in June 2010 and managed by Charotar Education Society. The Institute is
                        affiliated to the Sardar Patel University and strives to emulate an academic culture that is on
                        a par with the best institutions in the Charotar region. This institute was established in the
                        loving memories of our late Chairman Shri Alpeshbhai N. Patel. It started with only Department
                        of Chemistry for postgraduate studies in 2005 to impart postgraduate education and research in
                        emerging area of basic and applied sciences.At present, the Institute offers eight postgraduate
                        programs and three Ph.Dprograms.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->