<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-80 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-12 md-mb-10 mt-10">
                        <ul class="nav nav-tabs intro-tabb tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#about" role="tab" aria-controls="about"
                                    aria-selected="true">About</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Vision-Mission" role="tab" aria-controls="Vision-Mission"
                                    aria-selected="false">Vision & Mission</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Governer" role="tab" aria-controls="Governer"
                                    aria-selected="false">Governing Body</a>
                            </li>
                        </ul>
                        <div class="intro-info-tabs">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                                                        <div class="img-part js-tilt">
                                                            <img src="assets/images/anpatel/about/11.jpg" alt="images">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                                                        <div class="sec-title2">
                                                            <h2 class="title purple-color mb-30">
                                                                History
                                                            </h2>
                                                            <div><span class="bold-text mb-22">Shri Alpesh N.
                                                                    Patel Post
                                                                    Graduate Institute of Science & Research <a
                                                                        href="assets/images/2fcertificate.pdf"
                                                                        target="_blank"><u>(2f Certified)</u></a></span>
                                                                <p class="desc mb-45">
                                                                    is established in June 2010 and managed by Charotar
                                                                    Education Society. The Institute is
                                                                    affiliated to the Sardar Patel University and
                                                                    strives to
                                                                    emulate an academic culture that is on
                                                                    a par with the best institutions in the Charotar
                                                                    region.
                                                                    This institute was established in the
                                                                    loving memories of our late Chairman Shri Alpeshbhai
                                                                    N.
                                                                    Patel. It started with only Department
                                                                    of Chemistry for postgraduate studies in 2005 to
                                                                    impart
                                                                    postgraduate education and research in
                                                                    emerging area of basic and applied sciences.At
                                                                    present,
                                                                    the Institute offers eight postgraduate
                                                                    programs and three Ph.Dprograms. Within a short span
                                                                    of
                                                                    time, the institution has emerged out
                                                                    with flying colors and has set its marking the
                                                                    educational arena. Inventions and innovations are
                                                                    the two key driving forces for the vision of this
                                                                    Institute. The same concept and spirit has
                                                                    been taken further in the conduct of the academic
                                                                    activities. The institute has around 1500
                                                                    students who are trained by 55 highly qualified
                                                                    teachers. The institute has about 85 staff
                                                                    members.
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Vision-Mission" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Vision of SANPPGIS&R</h4>
                                                <p>In June 2010, Charotar Education Society established the Shri Alpesh
                                                    N. Patel Post Graduate Institute of Science & Research (SANPPGIS&R).
                                                    We are dedicated to providing high-quality higher education,
                                                    focusing on research and innovation to satisfy the demands of the
                                                    nation, and concentrating on the assimilation, generation, and
                                                    diffusion of students into respectable human beings.
                                                </p>

                                                <h3>Mission of SANPPGIS&R:</h3>
                                                <ul class="review-list">
                                                    <li>To provide high-quality and affordable education to children
                                                        from diverse backgrounds, emphasizing academic, social,
                                                        emotional, and spiritual development.</li>
                                                    <li>foster critical thinking, creativity, and leadership skills in
                                                        an inclusive and nurturing learning environment. </li>
                                                    <li>Educating our students about respect, compassion, and
                                                        integrity is essential to preparing them to contribute
                                                        positively to society.</li>
                                                    <li>To impart quality scientific education and produce
                                                        post-graduates technologists, scientists and citizens.</li>
                                                    <li>Creating a research-oriented teaching-learning environment.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Governer" role="tabpanel"
                                    aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Introduction</h4>
                                                <p>Charotar Education Society is a charitable school institute founded
                                                    with the aim of providing quality education to children from diverse
                                                    backgrounds. Our organization is based in the Charotar region of
                                                    Gujarat, India, and has been serving the community for several
                                                    decades.
                                                    We believe that education is a fundamental right of every child, and
                                                    our mission is to provide access to affordable and high-quality
                                                    education to children who might otherwise not have the opportunity
                                                    to attend school. Our approach to education is based on a holistic
                                                    development model that focuses on the academic, social, emotional,
                                                    and spiritual growth of our students.
                                                </p>
                                                <h3>Functions</h3>
                                                <ul class="review-list">
                                                    <li>Review the academic and other related activities of the college.
                                                    </li>
                                                    <li>Consider new programs of study for approval by Sardar Patel
                                                        University.</li>
                                                    <li>Consider the recommendations of the Principal regarding
                                                        promotions.</li>
                                                    <li>Ratify selections, appointments, medals, and prizes.</li>
                                                    <li>Pass the annual budget of the college.</li>
                                                    <li>Annual University affiliation</li>
                                                </ul>
                                                <h3 class="text-center">Management Members</h3>
                                                <table style="width:100%">
                                                    <tr style="background-color: #555555;">
                                                        <th style="color: #fff;">Name</th>
                                                        <th style="color: #fff;">Designation</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Nirav N. Patel</td>
                                                        <td>Chairman</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Ketankumar P. Patel</td>
                                                        <td>Secretary</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Vijay Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Vinod Parmar</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Dr. Uday Vora</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Dipen Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Ketan Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Shailesh Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Kalpesh Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Chirag Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Pragnesh Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Hemant Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Swetal Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Samir Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Pinal Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Sandip Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Jay Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>