<app-header></app-header>
<style>
    .fa{
        margin-right: 5px;
        color: #fff;
    }
</style>
<body class="defult-home">
    <!-- Popular Course Section Start -->
    <div class="rs-popular-courses style2 white-bg pt-94 pb-100 md-pt-64 md-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="#">CHEMISTRY</a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <!-- <a class="categorie" href="#">CHEMISTRY</a> -->
                                <h4 class="title"><a href="#">CHEMISTRY</a>
                                </h4>
                                <ul style="margin-top: 30px;">
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20Course%20Structure.pdf"
                                            target="_blank">Sem-1 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20Detail%20Syllabus.pdf"
                                            target="_blank">Sem-1 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20Course%20Structure.pdf"
                                            target="_blank">Sem-2 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20Detail%20Syllabus.pdf"
                                            target="_blank">Sem-2 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-3%20Course%20Structure.pdf"
                                            target="_blank">Sem-3 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-3%20Detail%20Syllabus.pdf"
                                            target="_blank">Sem-3 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20Course%20Structure.pdf"
                                            target="_blank">Sem-4 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20Detail%20Syllabus.pdf"
                                            target="_blank">Sem-4 Detail Syllabus</a> </li>

                                </ul>
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="#">MICROBIOLOGY</a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <!-- <a class="categorie" href="#">MICROBIOLOGY</a> -->
                                <h4 class="title"><a href="#">MICROBIOLOGY</a>
                                </h4>
                                <ul style="margin-top: 30px;">
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20Course%20Structure_micro.pdf"
                                            target="_blank">Sem-1 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20Detail%20Syllabus_micro.pdf"
                                            target="_blank">Sem-1 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20Course%20Structure__micro.pdf"
                                            target="_blank">Sem-2 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20Detail%20Syllabus_micro.pdf"
                                            target="_blank">Sem-2 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-3%20Course%20Structure_micro.pdf"
                                            target="_blank">Sem-3 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-3%20Detail%20Syllabus_micro.pdf"
                                            target="_blank">Sem-3 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20Course%20Structure_micro.pdf"
                                            target="_blank">Sem-4 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20Detail%20Syllabus_micro.pdf"
                                            target="_blank">Sem-4 Detail Syllabus</a> </li>

                                </ul>
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="#">BIOTECHNOLOGY</a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <!-- <a class="categorie" href="#">BIOTECHNOLOGY</a> -->
                                <h4 class="title"><a href="#">BIOTECHNOLOGY</a>
                                </h4>
                                <ul style="margin-top: 30px;">
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem1cs.pdf"
                                            target="_blank">Sem-1 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem1dt.pdf"
                                            target="_blank">Sem-1 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem2cs.pdf"
                                            target="_blank">Sem-2 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem2dt.pdf"
                                            target="_blank">Sem-2 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem3cs.pdf"
                                            target="_blank">Sem-3 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem3dt.pdf"
                                            target="_blank">Sem-3 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem4cs.pdf"
                                            target="_blank">Sem-4 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="/assets/pdf/biotech/syllabus/sem4dt.pdf"
                                            target="_blank">Sem-4 Detail Syllabus</a> </li>

                                </ul>
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="/assets/pdf/biotech/medtech.pdf" target="_blank"> MEDICAL LAB TECHNOLOGY
                                </a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <h4 class="title"><a href="/assets/pdf/biotech/medtech.pdf" target="_blank">MEDICAL LAB TECHNOLOGY</a>
                                </h4>
                                
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="">BIOCHEMISTRY</a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <!-- <a class="categorie" href="#">BIOCHEMISTRY</a> -->
                                <h4 class="title"><a href="">BIOCHEMISTRY</a>
                                </h4>
                                <ul style="margin-top: 30px;">
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20Biochemistry%20Sem%20-%20I%20-%20Programme%20Structure.pdf"
                                            target="_blank">Sem-1 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem%201%20BC.pdf"
                                            target="_blank">Sem-1 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20Biochemistry%20Sem%20-%20II%20-%20Programme%20Structure.pdf"
                                            target="_blank">Sem-2 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem%202%20BC.pdf"
                                            target="_blank">Sem-2 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-Biochemistry-Sem-III-Programme-Structure.pdf"
                                            target="_blank">Sem-3 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-Biochemistry-Sem-3.pdf"
                                            target="_blank">Sem-3 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-Biochemistry-Sem-IV-Programme-Structure.pdf"
                                            target="_blank">Sem-4 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-Biochemistry-Sem-4.pdf"
                                            target="_blank">Sem-4 Detail Syllabus</a> </li>

                                </ul>
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="">INFORMATION TECHNOLOGY</a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <!-- <a class="categorie" href="#">INFORMATION TECHNOLOGY</a> -->
                                <h4 class="title"><a href="">INFORMATION TECHNOLOGY</a>
                                </h4>
                                <ul style="margin-top: 30px;">
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20(IT)%20Sem%20%20I%20Programme%20Structure%202021%2022.pdf"
                                            target="_blank">Sem-1 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20(IT)%20Sem%20-%20I%20-%20Detailed%20Syllabus%202021-22.pdf"
                                            target="_blank">Sem-1 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20(IT)%20Sem%20-%20II%20-%20Programme%20Structure%202021-22.pdf"
                                            target="_blank">Sem-2 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20(IT)%20Sem%20-%20II%20-%20Detailed%20Syllabus%202021-22.pdf"
                                            target="_blank">Sem-2 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-(IT)-Sem-III-Programme-Structure.pdf"
                                            target="_blank">Sem-3 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-(IT)-Sem-3%20Detail.pdf"
                                            target="_blank">Sem-3 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-(IT)-Sem-IV-Programme-Structure.pdf"
                                            target="_blank">Sem-4 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-(IT)-Sem-4detail.pdf"
                                            target="_blank">Sem-4 Detail Syllabus</a> </li>

                                </ul>
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="">PHYSICS</a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <!-- <a class="categorie" href="#">PHYSICS</a> -->
                                <h4 class="title"><a href="#">PHYSICS</a>
                                </h4>
                                <ul style="margin-top: 30px;">
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20Course%20Structure_phy.pdf"
                                            target="_blank">Sem-1 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-1%20Detail%20Syllabus_phy.pdf"
                                            target="_blank">Sem-1 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20Course%20Structure_phy.pdf"
                                            target="_blank">Sem-2 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-2%20Detail%20Syllabus_phy.pdf"
                                            target="_blank">Sem-2 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-3%20Course%20Structure_phy.pdf"
                                            target="_blank">Sem-3 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-3%20Detail%20Syllabus_phy.pdf"
                                            target="_blank">Sem-3 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20Course%20Structure_phy.pdf"
                                            target="_blank">Sem-4 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem-4%20Detail%20Syllabus_phy.pdf"
                                            target="_blank">Sem-4 Detail Syllabus</a> </li>

                                </ul>
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="#">MATHEMATICS</a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <!-- <a class="categorie" href="#">MATHEMATICS</a> -->
                                <h4 class="title"><a href="#">MATHEMATICS</a>
                                </h4>
                                <ul style="margin-top: 30px;">
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20Mathematics%20-%20Sem%201%20Programme%20Structure.pdf"
                                            target="_blank">Sem-1 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Detailed%20Syllabi%20sem%201%20maths.pdf"
                                            target="_blank">Sem-1 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc%20Mathematics%20-%20Sem%202%20Programme%20Structure.pdf"
                                            target="_blank">Sem-2 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/Sem%202%20Detail%20Syllabi.pdf"
                                            target="_blank">Sem-2 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSC-Maths-Structure-Sem-3.pdf"
                                            target="_blank">Sem-3 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-Mathematics-Sem-3.pdf"
                                            target="_blank">Sem-3 Detail Syllabus</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSC-Maths-Structure-IV.pdf"
                                            target="_blank">Sem-4 Course Structure</a> </li>
                                    <li><i class="fa fa-book"></i> <a
                                            href="http://www.cesociety.in/sanppgi/images/news/MSc-Mathematics%20Sem-4.pdf"
                                            target="_blank">Sem-4 Detail Syllabus</a> </li>

                                </ul>
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="course-wrap">
                        <div class="front-part">
                            <div class="img-part">
                                <img src="assets/images/courses/style2/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <a class="categorie" href="#">Syllabus</a>
                                <h4 class="title"><a href="http://www.cesociety.in/sanppgi/images/news/Diploma%20in%20Med.%20Lab.Technology%20DMLT_PG.pdf" target="_blank"> Diploma in Med. Lab.Technology (PG-DMLT)
                                </a></h4>
                            </div>
                        </div>
                        <div class="inner-part">
                            <div class="content-part">
                                <h4 class="title"><a href="http://www.cesociety.in/sanppgi/images/news/Diploma%20in%20Med.%20Lab.Technology%20DMLT_PG.pdf" target="_blank">Diploma in Med. Lab.Technology (PG-DMLT)</a>
                                </h4>
                                
                            </div>
                        </div>
                        <!-- <div class="price-btn">
                            <a href="#">$55.00 <i class="flaticon-next"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Course Section End -->
    <!-- End intro Courses -->
</body>
<app-footer></app-footer>