<app-header></app-header>
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/anpatel/about/33.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">
                        About us
                    </div>
                    <h2 class="title purple-color mb-30">
                        The Trust
                    </h2>
                    <div class="bold-text mb-22"> Charotar Education Society </div>
                    <p class="desc mb-45">
                        was established on 16th April 1916 by the Gem of Charotar Shri Motibhai Amin Saheb with a view to developing higher education in the Charotar Pradesh located in the heartland of Gujarat also known as The “Milk City of India”. In commemoration of 100 years of glorious existence, Charotar Education society celebrated its Golden Jubilee during April-2015 to April-2016. \nIn the beginning the Society was managed well by the brothers, Shri Ishwarbhai J. Patel and Late Shri Vitthalbhai J. Patel. Shri Ishwarbhai J. Patel had been the Vice Chancellor of many universities. Charotar Education Society is spread over 41 acres of land and has 4 big campuses in which K.G. to P.G. education is provided to the needful students under dynamic leadership of Mr. Niravkumar N. Patel, Chairman and Mr. Ketanbhai P. Patel, Secretary, Charotar Education Society.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->


<app-footer></app-footer>