<app-header></app-header>
<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <!-- Breadcrumbs End -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-overview" role="tab" aria-controls="prod-overview"
                                aria-selected="true">Our Campus</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-lab-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-lab" role="tab" aria-controls="prod-lab"
                                aria-selected="false">Laboratory</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-semi-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-semi" role="tab" aria-controls="prod-semi"
                                aria-selected="false">Seminar
                                Hall</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-com-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-com" role="tab" aria-controls="prod-com"
                                aria-selected="false">Computer
                                Lab</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-library-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-library" role="tab" aria-controls="prod-library"
                                aria-selected="false">Library</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-hostel-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-hostel" role="tab" aria-controls="prod-hostel"
                                aria-selected="false">Hostel</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-can-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-can" role="tab" aria-controls="prod-can"
                                aria-selected="false">Canteen</a>
                        </li>
                    </ul>
                    <!-- Content Column -->
                    <div class="col-lg-8 md-mb-50 mt-50">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">

                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Our Campus</h4>
                                                <p>Located in an urban area of Charotar region, SANPPGIS&amp;R is spread
                                                    in about 3000 sq meter area that houses nine postgraduate department
                                                    and PhD centers catering to the needs of an annual intake of
                                                    approximately 1500 students. The campus is located in lush green
                                                    surrounding and is a residential one with self-sufficiency in every
                                                    aspect. The entire institute is covered under CCTV surveillance.
                                                    There are over 16 air-conditioned classrooms fully equipped with
                                                    audio-visual mode of teaching and learning with comfortable sitting
                                                    arrangement. With 14 state of the art laboratories housing
                                                    sophisticated research instruments and machines, the learning
                                                    process for students is made smooth. The 24 X 7 internet
                                                    connectivity (100Mbps lease lines of 1:1) for students and faculties
                                                    help in seamless gaining of up to date knowledge in the respective
                                                    fields. Students are provided with separate lockers in lab to store
                                                    their belongings while doing practical. Clean drinking water and
                                                    washroom facilities aid to the unhindered college life of pupils.
                                                    The separate dining area is provided to students of each department.
                                                    Institute also provide hostels and mess facility to the students.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-lab" role="tabpanel" aria-labelledby="prod-lab-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>LABORATORY</h4>
                                                <div class="main-content">
                                                    <style>
                                                        .rs-about.style1 .notice-bord.style1 {
                                                            margin-top: 0px;
                                                        }
                                                    </style>
                                                    <!-- Faq Section Start -->
                                                    <div class="rs-faq-part rs-about style1">
                                                        <div class="container">
                                                            <div class="main-part">
                                                                <div class="faq-content" style="margin-top: 20px;">
                                                                    <div class="accordion" id="accordionExample">
                                                                        <div class="accordion-item card">
                                                                            <div class="accordion-header card-header"
                                                                                id="headingOne">
                                                                                <button
                                                                                    class="accordion-button card-link"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapseOne"
                                                                                    aria-expanded="true"
                                                                                    aria-controls="collapseOne">Chemistry
                                                                                    Laboratory:</button>
                                                                            </div>
                                                                            <div id="collapseOne"
                                                                                class="accordion-collapse collapse"
                                                                                aria-labelledby="headingOne"
                                                                                data-bs-parent="#accordionExample">
                                                                                <div class="accordion-body card-body">
                                                                                    The Institute has four labs
                                                                                    exclusive
                                                                                    for Chemistry practical’s in M.Sc.
                                                                                    specialization in Organic Chemistry
                                                                                    and Physical Chemistry. Each lab has
                                                                                    sufficient number of equipment and
                                                                                    facilities. The lab is created to be
                                                                                    fire resistant and handle any kind
                                                                                    of mishap. Our laboratories with
                                                                                    advanced equipments and facilities
                                                                                    aid
                                                                                    and stimulate our students for them
                                                                                    to learn best with practical
                                                                                    knowledge.The Chemistry Laboratory
                                                                                    provides a platform for students to
                                                                                    nurture the budding scientist within
                                                                                    them. The laboratory is furnished
                                                                                    with latest Equipment. Every year
                                                                                    latest instruments are purchased for
                                                                                    these laboratories.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="accordion-item card">
                                                                            <div class="accordion-header card-header"
                                                                                id="headingTwo">
                                                                                <button
                                                                                    class="card-link accordion-button collapsed"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapseTwo"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseTwo">Microbiology
                                                                                    Laboratory:</button>
                                                                            </div>
                                                                            <div id="collapseTwo"
                                                                                class="accordion-collapse collapse"
                                                                                aria-labelledby="headingTwo"
                                                                                data-bs-parent="#accordionExample">
                                                                                <div class="accordion-body card-body">We
                                                                                    have four microbiology laboratories
                                                                                    for M.Sc. Programme. The
                                                                                    microbiology department proudly
                                                                                    boasts on its
                                                                                    state of the art laboratory. All the
                                                                                    laboratories are well equipped with
                                                                                    all modern / Advance instruments
                                                                                    required to support experiments as
                                                                                    per
                                                                                    formal curriculum. Not getting
                                                                                    restricted to the curriculum of
                                                                                    course,
                                                                                    the laboratory is designed with a
                                                                                    vision to support research also.
                                                                                    Facilities in microbiology
                                                                                    laboratory can support research in
                                                                                    fields
                                                                                    like Environmental Microbiology,
                                                                                    Clinical Microbiology, Enzyme
                                                                                    Technology and Immunology.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="accordion-item card">
                                                                            <div class="accordion-header card-header"
                                                                                id="headingThree">
                                                                                <button
                                                                                    class="card-link accordion-button collapsed"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapseThree"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseThree">Biochemistry
                                                                                    Laboratory:</button>
                                                                            </div>
                                                                            <div id="collapseThree"
                                                                                class="accordion-collapse collapse"
                                                                                aria-labelledby="headingThree"
                                                                                data-bs-parent="#accordionExample">
                                                                                <div class="accordion-body card-body">
                                                                                    Institute havetwo well furnished
                                                                                    biochemistry laboratories for PG
                                                                                    student. Biochemistry laboratory is
                                                                                    well-equipped to conduct rapid
                                                                                    clinical chemistry and routine
                                                                                    biochemical analysis and can
                                                                                    accommodate a batch of 30 students.
                                                                                    Students must gain extensive
                                                                                    laboratory experience working with
                                                                                    biomolecules, and a formal lab
                                                                                    course is usually the best way to
                                                                                    get
                                                                                    that experience which makes students
                                                                                    for future participation in
                                                                                    research at the as well as jobs in
                                                                                    the pharmaceutical industries.Major
                                                                                    activities in the lab include
                                                                                    phytochemical studies on medicinal
                                                                                    plants,
                                                                                    biomedical and molecular biological
                                                                                    studies.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="accordion-item card">
                                                                            <div class="accordion-header card-header"
                                                                                id="headingFour">
                                                                                <button
                                                                                    class="card-link accordion-button collapsed"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapseFour"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseFour">Physics
                                                                                    Laboratory:</button>
                                                                            </div>
                                                                            <div id="collapseFour"
                                                                                class="accordion-collapse collapse"
                                                                                aria-labelledby="headingFour"
                                                                                data-bs-parent="#accordionExample">
                                                                                <div class="accordion-body card-body">
                                                                                    The Physics Laboratory has General
                                                                                    Physics Laboratory, Physics Dark
                                                                                    Room, and Solid State Physics
                                                                                    Laboratory.It is designed to give
                                                                                    practice of taking measurements,
                                                                                    analyzing data and drawing
                                                                                    inferences while the students
                                                                                    experiment.The
                                                                                    Physics Laboratory is equipped with
                                                                                    state of the art equipments not only
                                                                                    in the field of Pure but also in
                                                                                    Applied Physics. Modular design &
                                                                                    modern instrumentation present in
                                                                                    laboratory encourage the creative
                                                                                    use
                                                                                    of experimental & theoretical
                                                                                    physics. The students are also
                                                                                    provided
                                                                                    with full hands on experiences in
                                                                                    optical instruments, such as,
                                                                                    Optical
                                                                                    benches, Lasers, Spectrometers,
                                                                                    Michelson Interferometer.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="accordion-item card">
                                                                            <div class="accordion-header card-header"
                                                                                id="headingFive">
                                                                                <button
                                                                                    class="card-link accordion-button collapsed"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapseFive"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseFive">Medical
                                                                                    Laboratory:
                                                                                </button>
                                                                            </div>
                                                                            <div id="collapseFive"
                                                                                class="accordion-collapse collapse"
                                                                                aria-labelledby="headingFive"
                                                                                data-bs-parent="#accordionExample">
                                                                                <div class="accordion-body card-body">
                                                                                    The laboratory infrastructure is
                                                                                    divided into two parts; one
                                                                                    laboratory specialized for clinical
                                                                                    biochemistry and another one for
                                                                                    routine pathology and microbiology
                                                                                    work. Laboratories are well
                                                                                    furnished and equipped essential all
                                                                                    instruments required for routine
                                                                                    biochemical, microbial, molecular
                                                                                    and
                                                                                    pathological analysis of human
                                                                                    sample. Students are offered
                                                                                    advanced
                                                                                    level of practical courses in
                                                                                    various classical and modern areas
                                                                                    of
                                                                                    medical diagnosis with utmost
                                                                                    emphasis on hands-on-training. Well
                                                                                    equipped medical Laboratory provides
                                                                                    a unique opportunity to candidates
                                                                                    to acquire not only skill in the
                                                                                    laboratory techniques but also to
                                                                                    sharpen up the edge in the
                                                                                    laboratory-based research by
                                                                                    undertaking an
                                                                                    in-house research project as a
                                                                                    compulsory PG dissertation in MSc
                                                                                    programme.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="accordion-item card">
                                                                            <div class="accordion-header card-header"
                                                                                id="headingSix">
                                                                                <button
                                                                                    class="card-link accordion-button collapsed"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapseSix"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseSix">Biotechnology
                                                                                    Laboratory:</button>
                                                                            </div>
                                                                            <div id="collapseSix"
                                                                                class="accordion-collapse collapse"
                                                                                aria-labelledby="headingSix"
                                                                                data-bs-parent="#accordionExample">
                                                                                <div class="accordion-body card-body">
                                                                                    The biotechnology laboratories are
                                                                                    specialized and equipped to conduct
                                                                                    advanced practical and research
                                                                                    work.The laboratories are well
                                                                                    organized and spacious with proper
                                                                                    ventilation, electricity and water
                                                                                    supply and are also well equipped
                                                                                    with essential basic instruments
                                                                                    required by educational
                                                                                    biotechnology
                                                                                    laboratory. The laboratory is
                                                                                    equipped with the latest instruments
                                                                                    and
                                                                                    apparatus including a BOD incubator,
                                                                                    PCR, Sonication, double beam
                                                                                    spectrophotometer and Gel
                                                                                    Electrophoretic units.Also the
                                                                                    laboratory
                                                                                    caters carrying out student
                                                                                    investigational projects on gene
                                                                                    cloning for
                                                                                    different target genes. The
                                                                                    laboratory is well equipped with all
                                                                                    required facilities for batchwise
                                                                                    conduct of practical’s in Plant and
                                                                                    Animal Biotechnology, Molecular
                                                                                    biology.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="accordion-item card">
                                                                            <div class="accordion-header card-header"
                                                                                id="headingSeven">
                                                                                <button
                                                                                    class="card-link accordion-button collapsed"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#collapseSeven"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseSeven">Plant
                                                                                    Tissue Laboratory:
                                                                                </button>
                                                                            </div>
                                                                            <div id="collapseSeven"
                                                                                class="accordion-collapse collapse"
                                                                                aria-labelledby="headingSeven"
                                                                                data-bs-parent="#accordionExample">
                                                                                <div class="accordion-body card-body">
                                                                                    Plant tissue culture facility
                                                                                    developed since 2011 in the
                                                                                    Biotechnology lab-II.
                                                                                    It includes a specialise designed
                                                                                    rack manufactured at SICART center
                                                                                    of Sardar Patel University. This
                                                                                    rack possess 5 layered with
                                                                                    automatic light controller.
                                                                                    Apart from this , a laminar air flow
                                                                                    has installed that supports the
                                                                                    aspetic conditions for the PTC work
                                                                                    and along with the temperature
                                                                                    controling facility (Air
                                                                                    conditioning system).
                                                                                    These laminar air flow and the ptc
                                                                                    racks are well separated from the
                                                                                    lab-II by a glass partition wall.
                                                                                    With the help of these facilities,
                                                                                    students did their dissertation
                                                                                    work. Few successful in vitro
                                                                                    studies of Catharanthus roseus,
                                                                                    Adhatoda vasica, Adhatoda beddomi,
                                                                                    and Chlorophytum tuberosum have
                                                                                    already been performed by taking the
                                                                                    facilities of this PTC lab.</div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- faq Section Start -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-semi" role="tabpanel"
                                    aria-labelledby="prod-semi-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Seminar Hall</h4>
                                                <p>The institute has two state-of-the-art seminar halls laced with all
                                                    the facilities for a comfortable audio-visual interaction during
                                                    conferences, seminars and presentation. The larger seminar hall,
                                                    Prarthana Mandir, was renovated by Charotar Education Society and
                                                    the newly built hall was officially inaugurated on 28th August, 2011
                                                    by Mr. Pankaj Patel, Chairman of Zydus Cadilla Pharmaceutical Ltd.
                                                    The hall was first built to commemorate the famous Dandi Yatra by
                                                    Father of the nation, Mahatma Gandhi. Gandhi ji stayed overnight at
                                                    the place where Prathana Mandir is built and he did Sabha here. The
                                                    air-conditioned hall has a capacity for about 350 audiences.
                                                </p>
                                                <p>A 100-seater capacity seminar hall, M T Patel Auditorium, is also
                                                    built by our organization for conferences and gathering of less
                                                    audience. This hall too is equipped with all the modern facilities
                                                    for conducting a seamless gathering of students and community
                                                    members.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-com" role="tabpanel" aria-labelledby="prod-com-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Computer Lab</h4>
                                                <p>We have a well-equipped two Computer Laboratories with latest
                                                    technology’s hardware and all needed software we provide separate
                                                    computer to each student to develop excellent computing
                                                    skill.70computer systems and Oneserver systems are kept in the
                                                    computer departmental laboratory. All the computer systems are
                                                    connected through structured network and internet. The Network is
                                                    supported with four latest Servers and three managed network
                                                    switches. The department is provided three laptop computer for
                                                    demonstrating the concepts and theories in the class rooms using
                                                    above mentioned ICT tools.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-library" role="tabpanel"
                                    aria-labelledby="prod-library-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Library</h4>
                                                <p>Our institute boast of a well-furnished library with comfortable
                                                    study area for students. The excellent Library facilities cater to
                                                    needs of Curriculum, Research, Consulting and General Reading.The
                                                    institute is subscribed to thousands of journals and e-books from
                                                    globally reputed publication houses like Oxford University Press,
                                                    Cambridge University press, Taylor-Francis books, Springer
                                                    publications, H. W. Wilson, McGraw Hill Publication etc. through
                                                    National Library and Information Services Infrastructure for
                                                    Scholarly Content (N-LIST) program from INFLIBINET, MHRD, Govt. of
                                                    India. List of Journals (Paperback)
                                                </p>
                                                <ul style="list-style-type: disc;"> List of News Papers
                                                    <li>Gujarat Samachar</li>
                                                    <li>Divya Bhaskar</li>
                                                    <li>Naya Padkar</li>
                                                    <li>Sandesh</li>
                                                    <li>The Times of India</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-hostel" role="tabpanel"
                                    aria-labelledby="prod-hostel-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Hostel</h4>
                                                <p>Under the management-ship of Charotar Education Society, our
                                                    institute has an about 250 capacity M B Patel Girls Hostel. The
                                                    hostel is a cozy place with all necessary amenities like 24 hours
                                                    CCTV coverage, RO drinking water facility, Clean and hygienic food
                                                    at mess, Study room, round-the-clock security guard availability,
                                                    first-aid medical facility, computer lab, clean washroom area with
                                                    warm water facility, recreation area, comfortable bed and telephone
                                                    facility for connecting with family members. Similarly there is
                                                    Vidhyarthi Ashram, boys hostel, with all the essential amenities is
                                                    also provided for students. The student community can avail the
                                                    facility of the hostel based on first-come-first-serve basis at a
                                                    very nominal annual charge.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-can" role="tabpanel" aria-labelledby="prod-can-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Canteen</h4>
                                                <p>Charotar Education Society is fully aware about the importance of
                                                    healthy food for students and staff. Hence, there is a canteen,
                                                    Gaytri Canteen, built in the SANPPGI&R premise for a 150-175 guest
                                                    capacity. During the lunch time, students and staff enjoy the
                                                    delicacies of various types prepared in completely hygienic
                                                    condition. The canteen is duly certified with “Food Licence” by
                                                    competent government authority. Variety of foods and snacks are
                                                    prepared by experienced staff using completely automated cookware
                                                    like Baking oven, Electric Fryer, Dough maker, Automatic
                                                    chopper/cutter etc ensuring hygiene and taste both. The seating
                                                    arrangement is spacious with lush green surrounding for having a
                                                    pleasurable dining experience.</p>
                                                <p>A part from that the management has provided a large mess,
                                                    Bhojanalaya, having capacity to host over 400 guests in one go.
                                                    There too the kitchen is supplied with fully automatic cookware for
                                                    quick and hygienic food preparation. The mess is regularly used for
                                                    functions involving large number of guests.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Video Column -->
                    <div class="video-column col-lg-4">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Infrastructure:</h5>
                                <ul class="nav" id="myTab" role="tablist" style="display:unset">
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab"
                                            href="#" data-bs-target="#prod-overview" role="tab"
                                            aria-controls="prod-overview" aria-selected="true">Our Campus</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-lab-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-lab" role="tab" aria-controls="prod-lab"
                                            aria-selected="false">Laboratory</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-semi-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-semi" role="tab" aria-controls="prod-semi"
                                            aria-selected="false">Seminar
                                            Hall</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-com-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-com" role="tab" aria-controls="prod-com"
                                            aria-selected="false">Computer
                                            Lab</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-library-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-library" role="tab" aria-controls="prod-library"
                                            aria-selected="false">Library</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-hostel-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-hostel" role="tab" aria-controls="prod-hostel"
                                            aria-selected="false">Hostel</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-can-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-can" role="tab" aria-controls="prod-can"
                                            aria-selected="false">Canteen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>

<app-footer></app-footer>