<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Dr. J D Patel
                        <br>
                        <span>- Principal, A.N. Patel</span>
                    </h5>
                    <p>I feel it a privileged and honored to be the Principal of Shri Alpesh N. Patel PG Institute of
                        Science & Research. Shri Alpesh N. Patel PG Institute of Science & Research in just few years
                        has emerged as a science institution with difference, a promising institution of the region
                        providing value added, quality education in basic and applied science, and an institution
                        striding towards excellence!</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>The Institute is progressing in multiple dimensions of Teaching, Research, Consultancy etc. in
                        the field of Basic and Applied Science including both IT and mathematics. The College students
                        have been active in co-curricular and extracurricular activities and bringing laurels to the
                        College.</p>
                    <p>With the Blessings from Heavenly Patron and with the Guidance and support of our Chairman,
                        Secretary, Trustees, Advisory Board and Academic Council Members, Teachers, Parents, Well
                        Wishers, Staff and Students we could continue to maintain good reputation among new generation
                        Colleges in the state.

                        On behalf of all the staff members, I wholeheartedly welcome students at our esteemed institute
                        and wish them a great learning experience with us.

                        Dr. Jatin D. Patel Principal of Shri Alpesh N. Patel PG Institute of Science & Research, Anand
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>